<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Order Suite" verbose="1" >
  <test name="Order Test" >
    <classes>
       <class name="com.saucedemo.qa.testsuite.OdersTestSuite" />
       <class name="com.saucedemo.qa.testsuite.OrderTestSuite2" />
    </classes>
  </test>
 
 
</suite>
